# PROYECTO 1
 * Guido Margiotta
 * Juan Morales

## Importando librerias

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mlt
import matplotlib.pyplot as plt
import xlrd
%matplotlib inline

## Obteniendo datos Argentina:
    * Base de datos de inflación mensual por sectores
    * Base de datos de inflación anual por sectores
    * Creación de MultiIndex (Año, Mes)

In [2]:
inflacion_arg_men = pd.read_excel("Inflación.xlsx",sheet_name = "Inflacion mensual por sector")
inflacion_arg_men.head()

,Año,Mes,nivel_general,alimentos_bebidas_no_alc,alcohol_tabaco,vestimenta,vivienda,hogar,salud,transporte,comunicacion,recreacion,educacion,restaurantes_hoteles,bienes_servicios_varios
0,2017,Enero,1.6,1.3,0.9,-1.0,1.5,0.9,2.4,2.1,3.1,3.2,0.8,3.1,1.9
1,2017,Febrero,2.1,1.8,4.3,-0.2,5.4,0.4,2.7,1.9,4.1,0.6,3.2,1.7,1.8
2,2017,Marzo,2.4,2.8,1.9,3.4,3.6,0.8,2.0,1.2,3.2,1.7,10.9,1.0,1.8
3,2017,Abril,2.7,2.2,2.4,4.5,5.9,1.1,1.8,0.6,6.8,2.6,2.9,1.9,1.8
4,2017,Mayo,1.4,1.3,1.7,1.7,1.8,2.8,1.5,0.9,0.3,0.7,1.7,1.5,1.3

In [3]:
index = list(zip(inflacion_arg_men["Año"],inflacion_arg_men["Mes"]))
index = pd.MultiIndex.from_tuples(index)

In [4]:
inflacion_arg_men.set_index(index,inplace = True)
inflacion_arg_men.drop(["Año", "Mes"], axis = 1, inplace = True)

In [5]:
inflacion_arg_men.head()

              nivel_general  alimentos_bebidas_no_alc  alcohol_tabaco  \
2017 Enero              1.6                       1.3             0.9
     Febrero            2.1                       1.8             4.3
     Marzo              2.4                       2.8             1.9
     Abril              2.7                       2.2             2.4
     Mayo               1.4                       1.3             1.7

              vestimenta  vivienda  hogar  salud  transporte  comunicacion  \
2017 Enero          -1.0       1.5    0.9    2.4         2.1           3.1
     Febrero        -0.2       5.4    0.4    2.7         1.9           4.1
     Marzo           3.4       3.6    0.8    2.0         1.2           3.2
     Abril           4.5       5.9    1.1    1.8         0.6           6.8
     Mayo            1.7       1.8    2.8    1.5         0.9           0.3

              recreacion  educacion  restaurantes_hoteles  \
2017 Enero           3.2        0.8                   3.1
     Febrero         0.6        3.2                   1.7
     Marzo           1.7       10.9                   1.0
     Abril           2.6        2.9                   1.9
     Mayo            0.7        1.7                   1.5

              bienes_servicios_varios
2017 Enero                        1.9
     Febrero                      1.8
     Marzo                        1.8
     Abril                        1.8
     Mayo                         1.3

In [6]:
inflacion_arg_anual = pd.read_excel("Inflación.xlsx",sheet_name = "Inflacion anual por sector")
inflacion_arg_anual.head()

,Año,Mes,nivel_general,alimentos_bebidas_no_alc,alcohol_tabaco,vestimenta,servicios_vivienda,hogar,salud,transporte,comunicacion,recreacion,educacion,restaurantes_hoteles,bienes_servicios_varios
0,2017,Diciembre,24.8,20.4,23.7,16.6,55.6,17.4,27.8,20.6,34.1,22.8,31.5,22.1,19.8
1,2018,Enero,25.0,21.3,25.4,16.9,54.9,17.6,27.1,20.7,32.6,23.1,31.3,21.9,20.4
2,2018,Febrero,25.4,21.7,22.3,16.4,52.5,19.1,26.6,23.8,39.0,23.6,29.7,22.4,20.3
3,2018,Marzo,25.4,21.2,20.8,17.4,48.0,23.5,25.8,24.6,38.4,23.0,33.0,23.3,20.4
4,2018,Abril,25.5,19.9,19.5,16.9,51.0,23.7,25.8,28.8,30.9,22.2,30.3,23.7,20.3

In [7]:
index = list(zip(inflacion_arg_anual["Año"],inflacion_arg_anual["Mes"]))
index = pd.MultiIndex.from_tuples(index)

In [8]:
inflacion_arg_anual.set_index(index, inplace=True)
inflacion_arg_anual.drop(["Año", "Mes"], axis=1, inplace=True)
inflacion_arg_anual.head()

                nivel_general  alimentos_bebidas_no_alc  alcohol_tabaco  \
2017 Diciembre           24.8                      20.4            23.7
2018 Enero               25.0                      21.3            25.4
     Febrero             25.4                      21.7            22.3
     Marzo               25.4                      21.2            20.8
     Abril               25.5                      19.9            19.5

                vestimenta  servicios_vivienda  hogar  salud  transporte  \
2017 Diciembre        16.6                55.6   17.4   27.8        20.6
2018 Enero            16.9                54.9   17.6   27.1        20.7
     Febrero          16.4                52.5   19.1   26.6        23.8
     Marzo            17.4                48.0   23.5   25.8        24.6
     Abril            16.9                51.0   23.7   25.8        28.8

                comunicacion  recreacion  educacion  restaurantes_hoteles  \
2017 Diciembre          34.1        22.8       31.5                  22.1
2018 Enero              32.6        23.1       31.3                  21.9
     Febrero            39.0        23.6       29.7                  22.4
     Marzo              38.4        23.0       33.0                  23.3
     Abril              30.9        22.2       30.3                  23.7

                bienes_servicios_varios
2017 Diciembre                     19.8
2018 Enero                         20.4
     Febrero                       20.3
     Marzo                         20.4
     Abril                         20.3

## Obteniendo datos Colombia:
    * Base de datos inflación mensual por sector año 2017-2018
    * Base de datos inflación mensual por sector año 2019-2022
    * Base de datos inflación anual por sector año 2017-2018
    * Base de datos inflación anual por sector año 2019-2022
    * Creación MultiIndex (Año, Mes)

In [11]:
inflacion_col_men18 = pd.read_excel("1.2.3.IPC_Por grupo de gasto.xlsx", sheet_name="Inflacion mensual por sector 18")

In [12]:
inflacion_col_men18.head()

,Año,Mes,TOTAL,Alimentos,Vivienda,Vestuario,Salud,Educación,Diversión,Transporte,Comunicaciones,Otros Gastos
0,2017,Enero,1.024114,1.622083,0.709280,0.165646,1.295235,0.033001,1.080814,0.940034,1.579505,1.057048
1,2017,Febrero,1.005739,0.709075,0.427276,0.518690,1.094947,6.777650,-0.974921,0.405674,1.648996,1.620817
2,2017,Marzo,0.465830,0.113657,0.529962,0.385676,1.282370,0.040779,0.518713,0.575621,1.534859,1.129390
3,2017,Abril,0.473723,0.130721,0.673076,0.381234,0.722388,0.012780,0.267737,1.001560,0.274245,0.586501
4,2017,Mayo,0.225318,0.072901,0.489332,0.156571,0.425030,0.006687,-0.098488,0.191702,-0.043494,0.208625

In [13]:
index = list(zip(inflacion_col_men18["Año"],inflacion_col_men18["Mes"]))
index = pd.MultiIndex.from_tuples(index)

In [14]:
inflacion_col_men18.set_index(index, inplace=True)
inflacion_col_men18.drop(["Año", "Mes"], axis=1, inplace=True)
inflacion_col_men18.head()

                 TOTAL  Alimentos  Vivienda  Vestuario     Salud  Educación  \
2017 Enero    1.024114   1.622083  0.709280   0.165646  1.295235   0.033001
     Febrero  1.005739   0.709075  0.427276   0.518690  1.094947   6.777650
     Marzo    0.465830   0.113657  0.529962   0.385676  1.282370   0.040779
     Abril    0.473723   0.130721  0.673076   0.381234  0.722388   0.012780
     Mayo     0.225318   0.072901  0.489332   0.156571  0.425030   0.006687

              Diversión  Transporte  Comunicaciones  Otros Gastos
2017 Enero     1.080814    0.940034        1.579505      1.057048
     Febrero  -0.974921    0.405674        1.648996      1.620817
     Marzo     0.518713    0.575621        1.534859      1.129390
     Abril     0.267737    1.001560        0.274245      0.586501
     Mayo     -0.098488    0.191702       -0.043494      0.208625

In [18]:
inflacion_col_anual18 = pd.read_excel("1.2.3.IPC_Por grupo de gasto.xlsx", sheet_name="Inflacion anual por sector 18")

In [19]:
inflacion_col_anual18.head()

,Año,Mes,TOTAL,Alimentos,Vivienda,Vestuario,Salud,Educación,Diversión,Transporte,Comunicaciones,Otros Gastos
0,2017,Enero,5.469189,5.971688,4.914201,3.612137,7.930456,6.298360,4.014732,4.701341,6.048445,7.321255
1,2017,Febrero,5.183980,5.212075,4.548169,3.658164,7.830089,7.517386,1.981870,4.263111,7.795059,7.800699
2,2017,Marzo,4.686057,3.652154,4.228242,3.577970,7.926260,7.533894,3.507506,4.586876,7.013633,7.881870
3,2017,Abril,4.662749,2.494288,5.075406,3.523811,7.807408,7.515984,3.625891,5.152911,7.289567,7.650483
4,2017,Mayo,4.366522,2.094730,4.793283,3.301877,7.710451,7.505768,3.319984,4.837901,7.269236,7.265942

In [21]:
index = list(zip(inflacion_col_anual18["Año"],inflacion_col_anual18["Mes"]))
index = pd.MultiIndex.from_tuples(index)

In [22]:
inflacion_col_anual18.set_index(index, inplace=True)
inflacion_col_anual18.drop(["Año", "Mes"], axis=1, inplace=True)
inflacion_col_anual18.head()

                 TOTAL  Alimentos  Vivienda  Vestuario     Salud  Educación  \
2017 Enero    5.469189   5.971688  4.914201   3.612137  7.930456   6.298360
     Febrero  5.183980   5.212075  4.548169   3.658164  7.830089   7.517386
     Marzo    4.686057   3.652154  4.228242   3.577970  7.926260   7.533894
     Abril    4.662749   2.494288  5.075406   3.523811  7.807408   7.515984
     Mayo     4.366522   2.094730  4.793283   3.301877  7.710451   7.505768

              Diversión  Transporte  Comunicaciones  Otros Gastos
2017 Enero     4.014732    4.701341        6.048445      7.321255
     Febrero   1.981870    4.263111        7.795059      7.800699
     Marzo     3.507506    4.586876        7.013633      7.881870
     Abril     3.625891    5.152911        7.289567      7.650483
     Mayo      3.319984    4.837901        7.269236      7.265942

In [23]:
inflacion_col_anual21 = pd.read_excel("1.2.3.IPC_Por grupo de gasto.xlsx", sheet_name="Inflacion anual por sector 21")
inflacion_col_anual21.head()

,Año,Mes,Alimentos y bebidas no alcohólicas,Bebidas alcohólicas y tabaco,Prendas de vestir y calzado,"Alojamiento, agua, electricidad, gas y otros combustibles","Muebles, artículos para el hogar y para la conservación ordinaria del hogar",Salud,Transporte,Información y comunicación,Recreación y cultura,Educación,Restaurantes y hoteles,Bienes y servicios diversos
0,2019,Enero,NaN,4.03,NaN,NaN,NaN,NaN,NaN,1.69,NaN,NaN,NaN,NaN
1,2019,Febrero,NaN,3.91,NaN,NaN,NaN,NaN,NaN,1.33,NaN,NaN,NaN,NaN
2,2019,Marzo,NaN,4.37,NaN,NaN,NaN,NaN,NaN,1.20,NaN,NaN,NaN,NaN
3,2019,Abril,NaN,4.82,NaN,NaN,NaN,NaN,NaN,1.93,NaN,NaN,NaN,NaN
4,2019,Mayo,NaN,5.12,NaN,NaN,NaN,NaN,NaN,1.88,NaN,NaN,NaN,NaN

In [24]:
index = list(zip(inflacion_col_anual21["Año"], inflacion_col_anual21["Mes"]))
index = pd.MultiIndex.from_tuples(index)


inflacion_col_anual21.set_index(index, inplace=True)
inflacion_col_anual21.drop(["Año", "Mes"], axis=1, inplace=True)
inflacion_col_anual21.head()

              Alimentos y bebidas no alcohólicas  \
2019 Enero                                   NaN
     Febrero                                 NaN
     Marzo                                   NaN
     Abril                                   NaN
     Mayo                                    NaN

              Bebidas alcohólicas y tabaco  Prendas de vestir y calzado  \
2019 Enero                            4.03                          NaN
     Febrero                          3.91                          NaN
     Marzo                            4.37                          NaN
     Abril                            4.82                          NaN
     Mayo                             5.12                          NaN

              Alojamiento, agua, electricidad, gas y otros combustibles  \
2019 Enero                                                  NaN
     Febrero                                                NaN
     Marzo                                                  NaN
     Abril                                                  NaN
     Mayo                                                   NaN

              Muebles, artículos para el hogar y para la conservación ordinaria del hogar  \
2019 Enero                                                  NaN
     Febrero                                                NaN
     Marzo                                                  NaN
     Abril                                                  NaN
     Mayo                                                   NaN

              Salud  Transporte  Información y comunicación  \
2019 Enero      NaN         NaN                        1.69
     Febrero    NaN         NaN                        1.33
     Marzo      NaN         NaN                        1.20
     Abril      NaN         NaN                        1.93
     Mayo       NaN         NaN                        1.88

              Recreación y cultura  Educación  Restaurantes y hoteles  \
2019 Enero                     NaN        NaN                     NaN
     Febrero                   NaN        NaN                     NaN
     Marzo                     NaN        NaN                     NaN
     Abril                     NaN        NaN                     NaN
     Mayo                      NaN        NaN                     NaN

              Bienes y servicios diversos
2019 Enero                            NaN
     Febrero                          NaN
     Marzo                            NaN
     Abril                            NaN
     Mayo                             NaN

## Uniendo los datos